{% extends "base.html" %}

{% block extra_head %}
<link href="{{ url_for('static', path='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="form-signin w-100 m-auto d-flex h-50">
  <form id="forgot-password-form" action="{{ url_for('ui_reset_password') }}" method="post">
    <h3 data-text="Reset password"></h3>
    <div class="mb-3">
      <label for="email-input" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="email-input" aria-describedby="email-help">
      <div id="email-help" class="form-text" data-text="You will receive an email with a reset link"></div>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary" data-text="Submit"></button>
  </form>
</section>
{% endblock %}

{% block extra_script %}
<script>
  (() => {
    document.getElementById('forgot-password-form').addEventListener('submit', event => {
      event.preventDefault();
      const email = event.target.elements.email.value;

      fetch(`${document.location.origin}/api/v1/auth/request-password-reset`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
        },
        body: JSON.stringify({email: email})
      })
        .then(response => {
          if (response.status === 200) {
            document.location.replace(`${document.location.origin}/ui/verify-email`)
          } else {
            alert('No such user')
          }
        })
    })
  })()
</script>
{% endblock %}