{% extends "base.html" %}

{% block extra_head %}
<link href="{{ url_for('static', path='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="form-signin w-100 m-auto d-flex h-50">
  <form id="sign-in-form">
    {% if signup %}
      <h2 class="h3 mb-3 fw-normal" data-text="Welcome">
    {% else %}
      <h2 class="h3 mb-3 fw-normal" data-text="Please sign in">
    {% endif %}
    </h2>
    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="email-input" placeholder="name@example.com">
      <label for="email-input">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
      <label for="password-input" data-text="Password"></label>
    </div>
    <div class="col-auto my-2">
      <a href="{{ url_for('ui_forgot_password') }}" data-text="Forgot password?"></a>
    </div>
    {% if signup %}
      <button class="w-100 btn btn-lg btn-primary" data-text="Sign up">
    {% else %}
      <button class="w-100 btn btn-lg btn-primary" data-text="Sign in">
    {% endif %}
    </button>
  </form>
</section>
{% endblock %}

{% block extra_script %}
<script src="{{ url_for('static', path='js/login.js') }}"></script>
{% endblock %}