{% extends "base.html" %}

{% block extra_head %}
<link href="{{ url_for('static', path='css/list.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='css/sidebar.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row h-100 w-100" style="overflow-y: auto">
  <div class="col-lg-2">
    <ul class="list-group list-group-horizontal-sm list-menu list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#my-trees-collapse" aria-expanded="true" data-text="My trees">
        </button>
        <div class="collapse show" id="my-trees-collapse">
          <ul id="tree-list" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li id="tree-create">
              <a href="#" data-bs-toggle="modal" data-bs-target="#new-tree-modal" class="link-dark d-inline-flex text-decoration-none rounded" data-text="+ Add"></a>
            </li>
          </ul>
        </div>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#shared-trees-collapse" aria-expanded="true" data-text="Shared with me">
        </button>
        <div class="collapse show" id="shared-trees-collapse">
          <ul id="shared-tree-list" class="btn-toggle-nav list-unstyled fw-normal pb-1 small"></ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true" data-text="Account">
        </button>
        <div class="collapse" id="account-collapse">
          <ul id="account-list" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="{{ url_for('ui_change_password', user_id=user.id) }}" class="link-dark d-inline-flex text-decoration-none rounded" data-text="Change password"></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-10 h-100">
    {% block data %} {% endblock %}
  </div>
  {% include 'modals/new_tree_modal.html' %}
  {% if tree %}
    {% include 'modals/delete_tree_modal.html' %}
    {% include 'modals/share_tree_modal.html' %}
    {% include 'modals/copy_tree_modal.html' %}
  {% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script>
  (() => {
    'use strict'

    feather.replace({ 'aria-hidden': 'true' });
    const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(tooltipTriggerEl => {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })()
</script>
<script src="{{ url_for('static', path='js/back_main.js') }}"></script>
{% endblock %}
