{% extends "base.html" %}

{% block extra_head %}
<link href="{{ url_for('static', path='css/list.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='css/sidebar.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="flex-shrink-0 p-3 bg-white col-2" style="width: 280px;">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Trees
        </button>
        <div class="collapse show" id="home-collapse">
          <ul id="tree-list" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li id="tree-create">
              <a href="{{ url_for('tree_create') }}" class="link-dark d-inline-flex text-decoration-none rounded">+ Add</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-10">
    {% block data %} {% endblock %}
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script>
  (() => {
    'use strict'

    feather.replace({ 'aria-hidden': 'true' });
    const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(tooltipTriggerEl => {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })()
</script>
<script src="{{ url_for('static', path='js/back_main.js') }}"></script>
{% endblock %}
