<div class="modal fade" id="delete-person-modal" tabindex="-1" aria-labelledby="delete-person-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete-person-form" action="">
        <div class="modal-header">
          <h5 class="modal-title">Confirm the action</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you really want to delete "{{ person.name }} {{ person.surname }}"?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete this person</button>
        </div>
      </form>
    </div>
  </div>
</div>
