{% extends "back_base.html" %}

{% block data %}
<div class="h-100">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" data-text="Change password"></h1>
  </div>
  <div class="d-flex justify-content-start">
    <form id="change-password-form" class="col-auto col-lg-4" data-user-id="{{ user.id }}">
      <div class="mb-3">
        <label for="old-password" class="form-label" data-text="Old password"></label>
        <input type="password" class="form-control" name="old" id="old-password">
      </div>
      <div class="mb-3">
        <label for="new-password" class="form-label" data-text="New password"></label>
        <input type="password" class="form-control" name="new" id="new-password" aria-describedby="password-help" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <div id="password-help" class="form-text" data-text="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters."></div>
      </div>
      <button type="submit" class="btn btn-primary" data-text="Change"></button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{{ super() }}
<script>
(() => {
  document.getElementById('change-password-form').addEventListener('submit', event => {
    event.preventDefault();
    const changePasswordForm = event.target;
    changePasswordForm.checkValidity();

    const xhr = new XMLHttpRequest();
    xhr.open('POST', `${document.location.origin}/api/v1/auth/change-password`);
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.responseType = 'json';
    xhr.send(JSON.stringify({
      user_id: changePasswordForm.dataset.userId,
      old: changePasswordForm.elements.old.value,
      new: changePasswordForm.elements.new.value,
    }));
    xhr.onload = function() {
        if (xhr.status === 200) {
          alert('Password changed!')
        } else {
          alert('Invalid old password');
        }
    };
    xhr.onerror = function() {
        alert(`Network Error`);
    };
  })
})()
</script>
{% endblock %}
