{% extends "back_base.html" %}

{% block extra_head %}
<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
</style>
{% endblock %}

{% block data %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% if person %}Edit person{% else %}Add new person{% endif %}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" id="create-person-button" class="btn btn-outline-success">{% if person %}Save{% else %}Add{% endif %}</button>
    </div>
    {% if person %}
    <div class="btn-group me-2">
      <button type="button" id="delete-person-button" class="btn btn-outline-danger">Delete</button>
    </div>
    {% endif %}
  </div>
</div>
<main class="ms-sm-auto px-md-4">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <h4 class="mb-3">Personal information</h4>
      <form class="needs-validation" id="person-form" {% if person %}data-person-id="{{ person.id }}"{% endif %} novalidate>
        <div class="row g-3">
          <div class="col-4">
            <label for="surname" class="form-label">Last name</label>
            {% if person %}
              <input type="text" class="form-control" id="surname" placeholder="" value="{{ person.surname }}" required>
            {% else %}
              <input type="text" class="form-control" id="surname" placeholder="" value="" required>
            {% endif %}
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
          <div class="col-4">
            <label for="name" class="form-label">First name</label>
            {% if person %}
              <input type="text" class="form-control" id="name" placeholder="" value="{{ person.name }}" required>
            {% else %}
              <input type="text" class="form-control" id="name" placeholder="" value="" required>
            {% endif %}
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-4">
            <label for="patronymic" class="form-label">Patronymic <span class="text-muted">(Optional)</span></label>
            <div class="input-group has-validation">
            {% if person %}
              <input type="text" class="form-control" id="patronymic" placeholder="" value="{{ person.patronymic }}">
            {% else %}
              <input type="text" class="form-control" id="patronymic" placeholder="" value="">
            {% endif %}
            </div>
          </div>
          <div class="col-6">
            <label for="birthdate" class="form-label">Date of birth <span class="text-muted">(Optional)</span></label>
            {% if person %}
              <input type="date" class="form-control" id="birthdate" placeholder="01.01.1980" value="{{ person.birthdate }}">
            {% else %}
              <input type="date" class="form-control" id="birthdate" placeholder="01.01.1980" value="">
            {% endif %}
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
          <div class="col-6">
            <label for="birthplace" class="form-label">Place of birth <span class="text-muted">(Optional)</span></label>
            {% if person %}
              <input type="text" class="form-control" id="birthplace" placeholder="Murmansk" value="{{ person.birthplace }}">
            {% else %}
              <input type="text" class="form-control" id="birthplace" placeholder="Murmansk" value="">
            {% endif %}
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>
        </div>
        <div class="my-3">
          <div class="form-check form-check-inline">
            <input id="male" name="gender" value="MALE" type="radio" class="form-check-input"
               {% if person and person.gender.value == 'MALE' %}checked{% endif %}
             required>
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input id="female" name="gender" value="FEMALE" type="radio" class="form-check-input"
               {% if person and person.gender.value == 'FEMALE' %}checked{% endif %}
              required>
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>
        <div class="col-12 my-2">
          <label for="birthname" class="form-label">Birth full name <span class="text-muted">(Optional)</span></label>
          <div class="input-group has-validation">
          {% if person %}
            <input type="text" class="form-control" id="birthname" value="{{ person.birthname or '' }}">
          {% else %}
            <input type="text" class="form-control" id="birthname" value="">
          {% endif %}
          </div>
        </div>
        <div class="col-12">
          <label for="info" class="form-label">Additional info <span class="text-muted">(Optional)</span></label>
          <textarea class="form-control" id="info">
          {% if person %}{{ person.info or '' }}{% endif %}
          </textarea>
        </div>
      </form>
    </div>
    <div class="col-6">
      {% if person %}
        <h4 class="mb-3">Immediate family</h4>
        {% for rel in relations %}
          <form class="form-inline" data-relation-id="{{ rel.id }}">
            <div class="input-group mb-2 mr-sm-2">
              <input type="text" class="form-control" value="{{ rel.person_to.fio }}" placeholder="Type in name or surname">
              <select class="custom-select mx-2">
                <option value="PARENT" {% if rel.type.value == 'PARENT' %}selected{% endif %}>Parent</option>
                <option value="SPOUSE" {% if rel.type.value == 'SPOUSE' %}selected{% endif %}>Spouse</option>
                <option value="EX_SPOUSE" {% if rel.type.value == 'EX_SPOUSE' %}selected{% endif %}>Ex-spouse</option>
                <option value="CHILD" {% if rel.type.value == 'CHILD' %}selected{% endif %}>Child</option>
              </select>
              <button type="submit" class="btn btn-danger">X</button>
            </div>
          </form>
        {% endfor %}
        <form class="form-inline" id="add-relative-form">
          <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" placeholder="Type in name or surname">
            <select class="custom-select mx-2">
              <option selected>Choose...</option>
              <option value="PARENT">Parent</option>
              <option value="SPOUSE">Spouse</option>
              <option value="EX_SPOUSE">Ex-spouse</option>
              <option value="CHILD">Child</option>
            </select>
            <button type="submit" class="btn btn-success">V</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block extra_script %}
<script src="{{ url_for('static', path='js/person_detail.js') }}"></script>
{% endblock %}
