{% extends "back_base.html" %}

{% block extra_head %}
{{ super() }}
<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
</style>
{% endblock %}

{% block data %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" data-text="{% if person %}Edit person{% else %}Add new person{% endif %}"></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" id="create-person-button" class="btn btn-outline-success" data-text="{% if person %}Save{% else %}Add{% endif %}"></button>
    </div>
    {% if person %}
    <div class="btn-group me-2">
      <a href="#" data-bs-toggle="modal" data-bs-target="#delete-person-modal">
        <button type="button" class="btn btn-outline-danger" data-text="Delete"></button>
      </a>
    </div>
    {% endif %}
  </div>
</div>
<div class="row justify-content-between ms-sm-auto px-md-4">
  <div class="col-xl" id="person-data" {% if tree_id %}data-tree-id="{{ tree_id }}"{% endif %}>
    <h4 class="mb-3" data-text="Personal information"></h4>
    {% if person  %}
      <div id="carouselInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {% for photo in person.photos %}
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}" aria-current="true" aria-label="Slide 1"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for photo in person.photos %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-bs-interval="10000">
              <img src="{{ url_for('uploads', path=photo.location) }}" class="d-block w-100" alt="{{ person.name }}">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endif %}
    <form class="needs-validation" id="person-form" {% if person %}data-person-id="{{ person.id }}"{% endif %} novalidate>
      <div class="row g-3">
        <div class="col-md-4">
          <label for="surname" class="form-label" data-text="Last name"></label>
          {% if person %}
            <input type="text" class="form-control" id="surname" placeholder="" value="{{ person.surname }}" required>
          {% else %}
            <input type="text" class="form-control" id="surname" placeholder="" value="" required>
          {% endif %}
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
        <div class="col-md-4">
          <label for="name" class="form-label" data-text="First name"></label>
          {% if person %}
            <input type="text" class="form-control" id="name" placeholder="" value="{{ person.name }}" required>
          {% else %}
            <input type="text" class="form-control" id="name" placeholder="" value="" required>
          {% endif %}
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-4">
          <label for="patronymic" class="form-label"><span data-text="Patronymic"></span> <span class="text-muted" data-text="(Optional)"></span></label>
          <div class="input-group has-validation">
          {% if person %}
            <input type="text" class="form-control" id="patronymic" placeholder="" value="{{ person.patronymic or '' }}">
          {% else %}
            <input type="text" class="form-control" id="patronymic" placeholder="" value="">
          {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <label for="birthdate" class="form-label"><span data-text="Date of birth"></span> <span class="text-muted" data-text="(Optional)"></span></label>
          {% if person %}
            <input type="date" class="form-control" id="birthdate" placeholder="01.01.1980" value="{{ person.birthdate }}">
          {% else %}
            <input type="date" class="form-control" id="birthdate" placeholder="01.01.1980" value="">
          {% endif %}
        </div>
        <div class="col-md-6">
          <label for="birthplace" class="form-label"><span data-text="Place of birth"></span> <span class="text-muted" data-text="(Optional)"></span></label>
          {% if person %}
            <input type="text" class="form-control" id="birthplace" placeholder="Murmansk" value="{{ person.birthplace or ''  }}">
          {% else %}
            <input type="text" class="form-control" id="birthplace" placeholder="Murmansk" value="">
          {% endif %}
        </div>
      </div>
      <div class="row justify-content-start my-3">
        <div class="col-3 ms-3 form-check form-check-inline">
          <input id="male" name="gender" value="MALE" type="radio" class="form-check-input"
             {% if person and person.gender.value == 'MALE' %}checked{% endif %}
           required>
          <label class="form-check-label" for="male" data-text="Male"></label>
        </div>
        <div class="col-3 form-check form-check-inline">
          <input id="female" name="gender" value="FEMALE" type="radio" class="form-check-input"
             {% if person and person.gender.value == 'FEMALE' %}checked{% endif %}
            required>
          <label class="form-check-label" for="female" data-text="Female"></label>
        </div>
      </div>
      <div class="col-12 my-2">
        <label for="birthname" class="form-label"><span data-text="Birth full name"></span> <span class="text-muted" data-text="(Optional)"></span></label>
        <div class="input-group has-validation">
        {% if person %}
          <input type="text" class="form-control" id="birthname" value="{{ person.birthname or '' }}">
        {% else %}
          <input type="text" class="form-control" id="birthname" value="">
        {% endif %}
        </div>
      </div>
      <div class="col-12">
        <label for="info" class="form-label"><span data-text="Additional info"></span> <span class="text-muted" data-text="(Optional)"></span></label>
        <textarea class="form-control" id="info">{% if person %}{{ person.info or '' }}{% endif %}</textarea>
      </div>
      <div class="mb-3">
        <label for="photo" class="form-label" data-text="Photo"></label>
        <input class="form-control form-control-sm" type="file" accept="image/*" id="photo">
      </div>
    </form>
  </div>
  <div class="col-xl">
    {% if person %}
      <hr class="d-xl-none my-3">
      <h4 class="mb-3" data-text="Immediate family"></h4>
      {% for rel in relations %}
        <form class="form-inline needs-validation relative-form" data-relative-id="{{ rel.person_to.id }}">
          <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" value="{{ rel.person_to.fio }}" placeholder="Type in full name" required>
            <select class="form-select mx-2" required>
              <option value="PARENT" {% if rel.type.value == 'PARENT' %}selected{% endif %} data-text="Parent"></option>
              <option value="SPOUSE" {% if rel.type.value == 'SPOUSE' %}selected{% endif %} data-text="Spouse"></option>
              <option value="EX_SPOUSE" {% if rel.type.value == 'EX_SPOUSE' %}selected{% endif %} data-text="Ex-spouse"></option>
              <option value="CHILD" {% if rel.type.value == 'CHILD' %}selected{% endif %} data-text="Child"></option>
            </select>
            <button type="submit" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
          </div>
        </form>
      {% endfor %}
      <form class="form-inline needs-validation" id="add-relative-form">
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" name="fullName" placeholder="Type in name or surname" required>
          <select class="form-select mx-2" name="relation" required>
            <option value="" data-text="Relation..." selected></option>
            <option value="PARENT" data-text="Parent"></option>
            <option value="SPOUSE" data-text="Spouse"></option>
            <option value="EX_SPOUSE" data-text="Ex-spouse"></option>
            <option value="CHILD" data-text="Child"></option>
          </select>
          <button type="submit" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button>
        </div>
      </form>
      <ul id="found-relatives" class="list-group"></ul>
    {% endif %}
  </div>
  {% if person %}
    {% include 'modals/delete_person_modal.html' %}
  {% endif %}
</div>
{% endblock %}

{% block extra_script %}
{{ super() }}
<script src="{{ url_for('static', path='js/person_detail.js') }}"></script>
{% endblock %}
