{% extends "back_base.html" %}

{% block data %}
<div class="h-100">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ tree.name }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <a href="{{ url_for('ui_tree_list', tree_id=tree.id) }}">
            <button type="button" class="btn btn-sm btn-outline-success" data-text="Switch to list"></button>
          </a>
        </div>
        <div class="btn-group me-2">
          <a href="{{ url_for('ui_person_add', tree_id=tree.id) }}">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-text="Add person"></button>
          </a>
        </div>
        <div class="btn-group me-2">
          <button id="cyto-download" type="button" class="btn btn-sm btn-outline-secondary" data-text="Download"></button>
        </div>
        <div class="btn-group me-2">
          <a href="{{ url_for('ui_tree_delete', tree_id=tree.id) }}">
            <button type="button" class="btn btn-sm btn-outline-danger" data-text="Delete tree"></button>
          </a>
        </div>
      </div>
    </div>
    <div id="cyto" data-tree-id="{{ tree.id }}" class="h-100"></div>
</div>
{% endblock %}

{% block extra_script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.22.1/cytoscape.min.js"></script>
<script src="{{ url_for('static', path='js/tree.js') }}"></script>
{% endblock %}
