<div class="modal fade" id="delete-tree-modal" tabindex="-1" aria-labelledby="delete-tree-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete-tree-form" action="{{ url_for('ui_tree_delete', tree_id=tree.id) }}" method="get">
        <div class="modal-header">
          <h5 class="modal-title" data-text="Confirm the action"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span data-text="Do you really want to delete"></span> "{{ tree.name }}"?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-text="Delete"></button>
        </div>
      </form>
    </div>
  </div>
</div>
